@charset "utf-8";

section {
    padding-top: 30px;
    margin: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section form {
    padding-left: 26%;
    justify-content: center;
    text-align: left;
    background-color: rgb(191, 227, 215);
}

section input {
    margin-bottom: 20px;
    font-size: 0.8em;
    border: none;
}

#submit {
    cursor: pointer;
    padding: 14px 16px;
    box-shadow: 0 9px #999;
    border-radius: 30px;
}
#submit:hover {
    background-color: rgb(232, 178, 120);
}
#submit:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

#regionBox {
    margin-left: 20px;
    font-size: 0.8em;
}

@media screen and (max-width:480px) {
    section form {
        padding: 15%;
        font-size: 0.8em;
    }

}