@charset "utf-8";


/*reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}




* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  position: relative;
}


/* Style the top navigation bar */
header {
  width: 100%;
  background-color: rgb(218, 196, 165);
  height: 85px;
}

.topnav {
  overflow: hidden;
}


/*overlay menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 60px;
}

header span {
  display: none;
  font-size: 2em;
}

/*default navi styling */
#logo a img {
  margin-top: -8px;
  float: left;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
}

#logo h1 {
  float: left;
  text-align: left;
  margin-top: 25px;
  margin-left: 5px;
  font-size: 30px;
  color: black !important;
}

#cart a img {
  margin-top: -8px;
  width: 50px;
}

.topnav ul {
  margin-top: 20px;
  margin-left: 400px;
  list-style: none;
}


.topnav a {
  float: left;
  display: block;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}



/* Change color on hover */
.topnav ul li a:hover {
  text-decoration: none;
  border-bottom: 3px solid black;
}


/* Style the content */
.content {
  background-color: rgb(251, 251, 246);
  padding: 10px;
}


/* Style the footer */
footer {
  background-color: rgb(218, 196, 165);
  padding: 10px;
  text-align: center;
}

.back2top {
  height: 40px;
  width: 100%;
  font-weight: bolder;
  font-size: 1.3em;
  cursor: pointer;
  background-color: wheat;
  border: none;
}

.back2top a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.back2top:hover {
  background-color: whitesmoke;
}


/*dark mode styling*/
#darkmode button {
  float: right;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#darkmode button img {
  width: 100%;
}

.dark-mode {
  background-color: black;
}
.dark-mode p, .dark-mode h1,.dark-mode h2,.dark-mode h3 {
  color: white;
}


@media screen and (max-width:1280px) {

  .topnav div#cart,
  .topnav ul,
  .back2top {
    display: none;
  }

  #darkmode button {
    margin-top: 15px;
    margin-right: 10px;
    width: 50px;
  }

  header span {
    display: block;
    float: right;
    background-color: rgb(218, 196, 165);
  }

}